@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--color-red: rgb(255, 0, 0);
	--color-blue: rgb(155, 208, 255);
	--color-white: rgb(255, 255, 255);
	--color-dark-gray: rgb(51, 52, 52);
	--color-mid-gray: rgb(196, 196, 196);
	--color-gray: rgb(212, 212, 212);
	--color-light-gray: rgb(244, 244, 244);
	--color-black: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

html,
body,
#app {
	height: 100%;
}

body {
	font-family: var(--font-body);
	color: rgb(var(--foreground-rgb));
	background: var(--background-end-rgb);
	margin: 0;
}

::selection {
	background: var(--color-blue);
	color: var(--color-black);
}

::-moz-selection {
	background: var(--color-blue);
	color: var(--color-black);
}

a {
	text-decoration: none;
}
